* {
  margin: 0px;
  padding: 0px;
}
/* Police */
@font-face {
  font-family: "Open sans";
  src: url(/Open_Sans/OpenSans-VariableFont_wdth\,wght.ttf);
}
@font-face {
  font-family: "Open sans Bold";
  src: url(/Open_Sans/static/OpenSans/OpenSans-Bold.ttf);
}
/* Style général */
body {
  font-family: "Open sans", sans-serif;
  font-size: 14px;
  color: #292830;
  margin: 25px 100px 25px 100px;
}
h2 {
  font-family: "Open sans Bold", sans-serif;
  font-size: 60px;
}
/* Barre de navigation */
nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
}
.logo {
  display: flex;
  flex-direction: row;
  align-items: baseline;
}
.logo1 {
  color: white;
  font-family: "Open sans Bold", sans-serif;
  font-size: 16px;
  text-align: center;
  width: 25px;
  height: 25px;
  background-color: #ff7235;
  border-radius: 50%;
  margin-top: 10px;
  margin-bottom: 10px;
}
.logo2 {
  padding-left: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.menu {
  display: flex;
  flex-direction: row;
  padding: 0;
  justify-content: center;
}
.menu li {
  list-style-type: none;
  display: block;
  min-width: 100px;
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: center;
  font-weight: lighter;
}
.menu a {
  text-decoration: none;
}
.menu a:visited {
  color: #292830;
}
.menu a:hover {
  color: #ff7235;
}
.buttonDemo {
  display: block;
  padding: 12px;
  color: #ff7235;
  text-align: center;
  text-decoration: none;
  border: 1px solid #ff7235;
  border-radius: 6px;
}
.buttonDemo:hover {
  border: 1px solid #292830;
  color: #292830;
}
/* Content 1 - Intro */
.content1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  margin-top: 100px;
}
.textContent1 {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.textContent1Subtitle {
  color: #bfbfbf;
  padding-top: 25px;
}
.try {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 20px;
  padding-top: 25px;
}
.buttonTryOrange {
  padding: 12px;
  width: fit-content;
  color: white;
  text-align: center;
  text-decoration: none;
  border: 1px solid #ff7235;
  border-radius: 6px;
  background-color: #ff7235;
}
.textTry {
  color: #bfbfbf;
}
.content1 img {
  width: 50%;
  height: auto;
}
/* Content 2 - Aperçu */
.content2 {
  margin-top: 100px;
  margin-left: -100px;
  margin-right: -100px;
  background-color: #ff7235;
  padding-top: 10px;
}
.content2 img {
  display: block;
  padding-top: 50px;
  margin-right: auto;
  margin-left: auto;
  width: 80%;
}
/* Content 3 - Sponsors */
.content3 {
  width: 100%;
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  padding-top: 40px;
  padding-bottom: 40px;
}
.content3 li {
  list-style-type: none;
  filter: contrast(0%) brightness(175%);
}
/* Content 4 - About */
.content4 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 20px;
  margin-top: 100px;
}
.textContent4 {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.textContent4Punchline {
  text-transform: uppercase;
  color: #bfbfbf;
  padding-top: 25px;
}
.textContent4Subtitle {
  color: #bfbfbf;
  padding-top: 25px;
}
.textContent4 a {
  color: #ff7235;
  text-decoration: none;
  padding-top: 25px;
}
.textContent4 a:hover {
  color: #292830;
}
.content4 img {
  display: block;
  width: 50%;
  height: auto;
}
/* Content 5 - Choose your plan*/
.content5 {
  margin-top: 100px;
}
.content5 h2 {
  font-family: "Open sans Bold", sans-serif;
  font-size: 40px;
  text-align: center;
  padding-bottom: 50px;
}
.choosePlan {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}
.starter,
.diamond {
  border: 1px solid #f5f5f5;
  border-radius: 6px;
  padding: 50px 25px 50px 25px;
}
.silver {
  background-color: white;
  border-radius: 6px;
  box-shadow: 0px 0px 5px 2px #f5f5f5;
  padding: 50px 25px 50px 25px;
}
.choosePlan h3 {
  font-family: "Open sans Bold", sans-serif;
  font-size: 20px;
}
.choosePlan ul {
  padding-left: 15px;
  padding-top: 25px;
  padding-bottom: 25px;
  line-height: 30px;
}
.choosePlan li {
  list-style-type: "\02714";
  padding-left: 10px;
}
.choosePlan .price {
  font-family: "Open sans Bold", sans-serif;
  font-size: 18px;
}
.choosePlan .price span {
  font-family: "Open sans", sans-serif;
  color: #bfbfbf;
}
.choosePlan .conditions {
  color: #bfbfbf;
  font-size: 8px;
  padding-top: 5px;
}
.starter a,
.diamond a {
  display: block;
  margin-top: 40px;
  padding: 12px 20px 12px 20px;
  width: fit-content;
  color: #ff7235;
  text-align: center;
  text-decoration: none;
  border: 1px solid #ff7235;
  border-radius: 6px;
}
.starter a:hover,
.diamond a:hover {
  border: 1px solid #292830;
  color: #292830;
}
.silver a {
  display: block;
  margin-top: 40px;
  padding: 12px 20px 12px 20px;
  width: fit-content;
  background-color: #ff7235;
  color: white;
  text-align: center;
  text-decoration: none;
  border-radius: 6px;
}
/* Content 6 - Download */
.content6 {
  margin-top: 100px;
  margin-left: -100px;
  margin-right: -100px;
  padding: 50px 150px 50px 150px;
  height: 320px;
  background-color: #ff7235;
  background-image: url(/assets/Illustrator.svg);
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content6 h2 {
  color: white;
  font-family: "Open sans Bold", sans-serif;
  font-size: 40px;
  text-align: center;
}
.content6 p {
  color: white;
  text-align: center;
  font-size: 20px;
}
.buttonTryWhite {
  margin-top: 30px;
  padding: 12px;
  width: fit-content;
  color: #ff7235;
  text-align: center;
  text-decoration: none;
  border: 1px solid white;
  border-radius: 6px;
  background-color: white;
}
.content6 img {
  width: 85%;
}
/* Footer */
footer a {
  text-decoration: none;
}
footer a:visited {
  color: #292830;
}
footer a:hover {
  color: #ff7235;
}
/* Footer 1 */
.footer1 {
  margin-top: 50px;
  margin-bottom: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}
h4 {
  text-transform: uppercase;
  line-height: 40px;
}
.footer1 li {
  list-style-type: none;
  font-size: 12px;
  line-height: 20px;
}
.footer1 .newsletter p {
  color: #bfbfbf;
  margin-bottom: 10px;
}
.footer1 .newsletter form {
  border: 1px solid #292830;
  border-radius: 6px;
  padding-left: 15px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.footer1 .newsletter #email {
  border: none;
}
.footer1 .newsletter #submit {
  background-color: #ff7235;
  border: #ff7235;
  border-radius: 6px;
  padding: 12px;
  color: white;
}
.footer1 .newsletter .newsletterCondition {
  font-size: 8px;
  margin-top: 5px;
}
hr {
  border: 1px solid #f5f5f5;
}
/* Footer 2 */
.footer2 {
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
  font-size: 8px;
}
.footer2 .privacyContact {
  display: flex;
  gap: 20px;
}
.footer2 img {
  filter: brightness(0%);
  height: 15px;
}
